# Add files here to ignore them from prettier formatting
/.nx
/.yarn
/build
/coverage
/dist
/node_modules

/.nx/cache
/.nx/workspace-data

/examples/hello/**/*.*
!/examples/hello/app/frontend/**/*.*

**/.next/
**/out/

/pnpm-lock.yaml
